<a href="https://colab.research.google.com/github/ribka-5/Statistika-Sains-Data/blob/main/Jurnal1_SSD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

from google.colab import files
uploaded = files.upload()

Saving input.csv to input.csv

In [ ]:
df_108 = pd.read_csv('input.csv', header = None)
df_108

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,8589.42,5468.24,4263.41,4064.94,1997.89,5282.33,2169.72,2773.42,7526.39,4607.68,...,99.11,67.56,259.91,138.90,88.23,39.67,67.83,75.68,83.52,28.70
1,9164.25,6719.53,4883.45,3718.16,2015.22,5569.91,3849.06,2793.39,7017.73,4802.25,...,126.79,92.24,96.28,150.59,82.24,85.03,152.20,186.57,44.47,16.77
2,3825.71,6970.36,5369.97,4705.65,1166.55,1572.17,1325.40,1472.26,3296.95,2786.58,...,151.88,82.72,31.10,193.92,76.97,224.62,31.23,42.66,16.09,15.16
3,6246.45,7823.53,5955.84,3975.56,2002.61,2130.54,1531.14,1714.63,3869.79,4989.41,...,152.60,41.68,5.93,183.01,74.53,67.71,48.34,42.52,49.98,16.09
4,3230.33,3694.45,3400.74,3463.59,2181.42,2922.78,2069.25,2948.58,3303.37,3109.41,...,126.46,76.60,161.35,61.70,54.56,223.36,73.10,57.60,7.49,31.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,4972.17,4173.92,3668.53,1567.56,1570.44,3466.81,2106.50,1535.76,1887.62,3519.60,...,70.67,6.45,156.45,93.95,86.91,95.44,31.19,57.15,13.96,10.55
58,9112.37,6824.49,5982.85,3147.04,4847.31,11222.68,6333.47,4299.50,4644.44,5888.55,...,129.40,35.88,342.65,84.75,60.27,143.88,9.00,106.88,23.20,32.17
59,6730.63,3472.13,2559.46,2624.69,1596.22,4372.79,3798.53,1026.48,3512.33,3243.17,...,254.87,119.96,111.60,166.76,130.46,124.25,96.47,133.52,93.10,7.43
60,6234.62,4005.30,3093.68,3183.09,1795.31,3940.85,2019.85,1406.65,2927.79,2177.32,...,190.71,85.26,206.54,80.45,104.81,180.94,68.93,118.20,32.69,23.27
61,7472.01,3653.93,2728.22,3494.48,2404.67,5791.61,2876.42,2150.96,3767.00,2685.30,...,178.95,63.64,437.65,178.27,153.85,269.44,67.86,77.22,49.86,39.63

In [ ]:
df_108[df_108.columns[50:60+1]].mean()

50    2118.013065
51    2118.013065
52    2118.013065
53    1523.162742
54    1994.882097
55    1852.319839
56    1811.608226
57    1844.129194
58    1716.091935
59    2050.632419
60    1114.501452
dtype: float64

In [ ]:
df_108[filter(lambda x: x%2==1, df_108.columns[1:500+1])].median()

1      4738.280
3      3451.500
5      4416.620
7      2844.960
9      3823.020
         ...
491     242.785
493     398.190
495     334.705
497     339.725
499     483.385
Length: 250, dtype: float64

In [ ]:
def bagi1000(x):
  return x/1000

def bulatkan(x):
  return round(x,2)

df_108 = df_108.apply(lambda x:round(x/1000,2))
df_108

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,8.59,5.47,4.26,4.06,2.00,5.28,2.17,2.77,7.53,4.61,...,0.10,0.07,0.26,0.14,0.09,0.04,0.07,0.08,0.08,0.03
1,9.16,6.72,4.88,3.72,2.02,5.57,3.85,2.79,7.02,4.80,...,0.13,0.09,0.10,0.15,0.08,0.09,0.15,0.19,0.04,0.02
2,3.83,6.97,5.37,4.71,1.17,1.57,1.33,1.47,3.30,2.79,...,0.15,0.08,0.03,0.19,0.08,0.22,0.03,0.04,0.02,0.02
3,6.25,7.82,5.96,3.98,2.00,2.13,1.53,1.71,3.87,4.99,...,0.15,0.04,0.01,0.18,0.07,0.07,0.05,0.04,0.05,0.02
4,3.23,3.69,3.40,3.46,2.18,2.92,2.07,2.95,3.30,3.11,...,0.13,0.08,0.16,0.06,0.05,0.22,0.07,0.06,0.01,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,4.97,4.17,3.67,1.57,1.57,3.47,2.11,1.54,1.89,3.52,...,0.07,0.01,0.16,0.09,0.09,0.10,0.03,0.06,0.01,0.01
58,9.11,6.82,5.98,3.15,4.85,11.22,6.33,4.30,4.64,5.89,...,0.13,0.04,0.34,0.08,0.06,0.14,0.01,0.11,0.02,0.03
59,6.73,3.47,2.56,2.62,1.60,4.37,3.80,1.03,3.51,3.24,...,0.25,0.12,0.11,0.17,0.13,0.12,0.10,0.13,0.09,0.01
60,6.23,4.01,3.09,3.18,1.80,3.94,2.02,1.41,2.93,2.18,...,0.19,0.09,0.21,0.08,0.10,0.18,0.07,0.12,0.03,0.02
61,7.47,3.65,2.73,3.49,2.40,5.79,2.88,2.15,3.77,2.69,...,0.18,0.06,0.44,0.18,0.15,0.27,0.07,0.08,0.05,0.04

In [ ]:
df2_108 = df_108.drop(df_108.columns[100:500+1], axis=1)
df2_108.head()

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,8.59,5.47,4.26,4.06,2.00,5.28,2.17,2.77,7.53,4.61,...,0.10,0.07,0.26,0.14,0.09,0.04,0.07,0.08,0.08,0.03
1,9.16,6.72,4.88,3.72,2.02,5.57,3.85,2.79,7.02,4.80,...,0.13,0.09,0.10,0.15,0.08,0.09,0.15,0.19,0.04,0.02
2,3.83,6.97,5.37,4.71,1.17,1.57,1.33,1.47,3.30,2.79,...,0.15,0.08,0.03,0.19,0.08,0.22,0.03,0.04,0.02,0.02
3,6.25,7.82,5.96,3.98,2.00,2.13,1.53,1.71,3.87,4.99,...,0.15,0.04,0.01,0.18,0.07,0.07,0.05,0.04,0.05,0.02
4,3.23,3.69,3.40,3.46,2.18,2.92,2.07,2.95,3.30,3.11,...,0.13,0.08,0.16,0.06,0.05,0.22,0.07,0.06,0.01,0.03

In [ ]:
df2_108.to_csv('./input.csv')

In [ ]:
ds = pd.Series(range(-5,10+1))
ds.values

array([-5, -4, -3, -2, -1,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [ ]:
nim = np.random.choice(range(100,1000),100, replace=False)
nim

array([138, 218, 774, 637, 687, 269, 780, 873, 220, 423, 188, 575, 317,
       510, 524, 490, 859, 328, 488, 970, 633, 388, 281, 784, 253, 557,
       852, 618, 112, 962, 718, 217, 327, 340, 679, 747, 809, 990, 555,
       296, 259, 139, 406, 447, 226, 827, 709, 453, 322, 414, 960, 491,
       464, 424, 366, 227, 527, 113, 254, 402, 547, 111, 407, 277, 369,
       759, 597, 389, 342, 632, 330, 341, 323, 980, 689, 506, 487, 117,
       519, 807, 109, 777, 834, 999, 104, 869, 539, 608, 365, 362, 462,
       914, 286, 851, 641, 680, 279, 966, 194, 768])

In [ ]:
nilai_uts = np.random.uniform(0,100,100)
nilai_uts

array([69.80353957,  1.02759179, 52.73170262, 91.62570551, 22.1398606 ,
        5.4065074 , 33.9034714 , 13.73177464, 17.59440683, 68.78995098,
       54.81302991, 23.77828761, 42.11536905, 83.37482735, 79.61317941,
       68.07358171, 20.412736  , 49.6880747 , 76.08093281, 46.9474913 ,
       27.89516806, 61.3370095 , 58.50699359, 17.38412008, 14.35689723,
       72.00155806, 95.8692605 , 64.28185477, 74.6690833 , 17.22341207,
       41.1677705 ,  7.13606648, 89.4973031 , 70.21713509, 34.02265345,
       18.91598185, 11.77689338,  4.58000468, 96.55932061, 69.27977961,
       62.89391281, 87.34934036, 11.35830942, 32.82394254, 55.10308944,
       58.64640345, 47.25503506, 95.67575924, 80.9657835 ,  5.59989037,
       75.7103981 , 22.36289689, 61.38836773, 68.18025158, 24.5781242 ,
       86.29347119, 42.51461696, 48.30896739, 87.81648882, 95.58902828,
       64.77726043, 21.99713873, 91.81600707, 62.96359984, 92.45228475,
       48.36537304, 65.15613398,  0.26654464, 98.58212861, 92.53892116,
       16.89205115, 49.16464551, 87.33315709,  9.485853  , 46.49160027,
       57.77154686, 14.24497642, 80.98048624, 68.4055753 , 56.60457128,
       12.41388558, 67.89233458, 68.71355224, 24.75704614, 77.24303515,
       61.83924759, 74.65549675, 57.94985257, 73.33438104, 56.11311887,
       14.96611132, 18.09657862, 59.58806518, 91.19790351, 65.51204852,
       88.13757666, 50.41615666, 69.22548813, 99.80765663, 38.91792925])

In [ ]:
nilai_uts = np.round(nilai_uts,2)
nilai_uts

array([69.8 ,  1.03, 52.73, 91.63, 22.14,  5.41, 33.9 , 13.73, 17.59,
       68.79, 54.81, 23.78, 42.12, 83.37, 79.61, 68.07, 20.41, 49.69,
       76.08, 46.95, 27.9 , 61.34, 58.51, 17.38, 14.36, 72.  , 95.87,
       64.28, 74.67, 17.22, 41.17,  7.14, 89.5 , 70.22, 34.02, 18.92,
       11.78,  4.58, 96.56, 69.28, 62.89, 87.35, 11.36, 32.82, 55.1 ,
       58.65, 47.26, 95.68, 80.97,  5.6 , 75.71, 22.36, 61.39, 68.18,
       24.58, 86.29, 42.51, 48.31, 87.82, 95.59, 64.78, 22.  , 91.82,
       62.96, 92.45, 48.37, 65.16,  0.27, 98.58, 92.54, 16.89, 49.16,
       87.33,  9.49, 46.49, 57.77, 14.24, 80.98, 68.41, 56.6 , 12.41,
       67.89, 68.71, 24.76, 77.24, 61.84, 74.66, 57.95, 73.33, 56.11,
       14.97, 18.1 , 59.59, 91.2 , 65.51, 88.14, 50.42, 69.23, 99.81,
       38.92])

In [ ]:
dl = pd.DataFrame({'NIM':nim, 'Nilai':nilai_uts})
dl

    NIM  Nilai
0   138  69.80
1   218   1.03
2   774  52.73
3   637  91.63
4   687  22.14
..  ...    ...
95  680  88.14
96  279  50.42
97  966  69.23
98  194  99.81
99  768  38.92

[100 rows x 2 columns]

In [ ]:
dl['Nilai'].describe()

count    100.000000
mean      53.158400
std       28.509991
min        0.270000
25%       24.380000
50%       58.230000
75%       74.662500
max       99.810000
Name: Nilai, dtype: float64

In [ ]:
dl[dl['Nilai'] > 50]

    NIM  Nilai
0   138  69.80
2   774  52.73
3   637  91.63
9   423  68.79
10  188  54.81
13  510  83.37
14  524  79.61
15  490  68.07
18  488  76.08
21  388  61.34
22  281  58.51
25  557  72.00
26  852  95.87
27  618  64.28
28  112  74.67
32  327  89.50
33  340  70.22
38  555  96.56
39  296  69.28
40  259  62.89
41  139  87.35
44  226  55.10
45  827  58.65
47  453  95.68
48  322  80.97
50  960  75.71
52  464  61.39
53  424  68.18
55  227  86.29
58  254  87.82
59  402  95.59
60  547  64.78
62  407  91.82
63  277  62.96
64  369  92.45
66  597  65.16
68  342  98.58
69  632  92.54
72  323  87.33
75  506  57.77
77  117  80.98
78  519  68.41
79  807  56.60
81  777  67.89
82  834  68.71
84  104  77.24
85  869  61.84
86  539  74.66
87  608  57.95
88  365  73.33
89  362  56.11
92  286  59.59
93  851  91.20
94  641  65.51
95  680  88.14
96  279  50.42
97  966  69.23
98  194  99.81

In [ ]:
dl2 = dl[dl['NIM'] %2 == 1]
dl2

    NIM  Nilai
3   637  91.63
4   687  22.14
5   269   5.41
7   873  13.73
9   423  68.79
11  575  23.78
12  317  42.12
16  859  20.41
20  633  27.90
22  281  58.51
24  253  14.36
25  557  72.00
31  217   7.14
32  327  89.50
34  679  34.02
35  747  18.92
36  809  11.78
38  555  96.56
40  259  62.89
41  139  87.35
43  447  32.82
45  827  58.65
46  709  47.26
47  453  95.68
51  491  22.36
55  227  86.29
56  527  42.51
57  113  48.31
60  547  64.78
61  111  22.00
62  407  91.82
63  277  62.96
64  369  92.45
65  759  48.37
66  597  65.16
67  389   0.27
71  341  49.16
72  323  87.33
74  689  46.49
76  487  14.24
77  117  80.98
78  519  68.41
79  807  56.60
80  109  12.41
81  777  67.89
83  999  24.76
85  869  61.84
86  539  74.66
88  365  73.33
93  851  91.20
94  641  65.51
96  279  50.42

In [ ]:
dl2['NIM'].values

array([637, 687, 269, 873, 423, 575, 317, 859, 633, 281, 253, 557, 217,
       327, 679, 747, 809, 555, 259, 139, 447, 827, 709, 453, 491, 227,
       527, 113, 547, 111, 407, 277, 369, 759, 597, 389, 341, 323, 689,
       487, 117, 519, 807, 109, 777, 999, 869, 539, 365, 851, 641, 279])

In [ ]:
dl2.sort_values(by='NIM')

    NIM  Nilai
80  109  12.41
61  111  22.00
57  113  48.31
77  117  80.98
41  139  87.35
31  217   7.14
55  227  86.29
24  253  14.36
40  259  62.89
5   269   5.41
63  277  62.96
96  279  50.42
22  281  58.51
12  317  42.12
72  323  87.33
32  327  89.50
71  341  49.16
88  365  73.33
64  369  92.45
67  389   0.27
62  407  91.82
9   423  68.79
43  447  32.82
47  453  95.68
76  487  14.24
51  491  22.36
78  519  68.41
56  527  42.51
86  539  74.66
60  547  64.78
38  555  96.56
25  557  72.00
11  575  23.78
66  597  65.16
20  633  27.90
3   637  91.63
94  641  65.51
34  679  34.02
4   687  22.14
74  689  46.49
46  709  47.26
35  747  18.92
65  759  48.37
81  777  67.89
79  807  56.60
36  809  11.78
45  827  58.65
93  851  91.20
16  859  20.41
85  869  61.84
7   873  13.73
83  999  24.76

In [ ]:
dl2.sort_values(by='NIM', ascending=True).head(25)

    NIM  Nilai
80  109  12.41
61  111  22.00
57  113  48.31
77  117  80.98
41  139  87.35
31  217   7.14
55  227  86.29
24  253  14.36
40  259  62.89
5   269   5.41
63  277  62.96
96  279  50.42
22  281  58.51
12  317  42.12
72  323  87.33
32  327  89.50
71  341  49.16
88  365  73.33
64  369  92.45
67  389   0.27
62  407  91.82
9   423  68.79
43  447  32.82
47  453  95.68
76  487  14.24

In [ ]:
dl2.sort_values(by='Nilai', ascending=False).head(15)

NameError: ignored